html {
    background-color: #55c3ff;
}
body {
    background-color: #fafaff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #eee;
}
.root {
    display: grid;
    width: 100%;
    margin: 0;
}
.header {
    padding: 0;
    height: 30em;
    top: 0;
    left: 0;
    right: 0;
    background-color: #55c3ff;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
.header-content {
    margin-top: 4em;
    font-size: 30px;
}
#link {
    width: 50dvh;
    height: 3em;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #1aa;
}
#submit {
    width: 5em;
    height: 3.5em;
    background-color: #55ffff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
#shortened-link {
    color: #447;
    text-decoration: underline;
}
#shortened-link-alert {
    color: #447;
}
#shortened-link:hover {
    cursor: pointer;
}
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.content {
    background-color: #fafaff;
    display: flex;
}
.shortener-about {
    width: 35%;
    background-color: #eee;
    color: #447;
    margin: 0.3em;
    margin-right: 0;
    font-size: 20px;
    line-height: 120%;
    padding: 1em 2em;
    border-radius: 10px;
}
.shortener-info {
    width: 65%;
    background-color: #eee;
    color: #447;
    margin: 0.3em;
    font-size: 26px;
    line-height: 120%;
    padding: 1em 2em;
    border-radius: 10px;
}
#agreement {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #222;
    padding-left: 2em;
    color: #fff;
}
#agreement h1, #agreement h2, #agreement h3 {
    position: relative;
    margin-left: 5%;
}
#agreement p {
    margin-left: 3em;
}
.footer {
    display: flex;
    height: 20dvh;
    background-color: #55c3ff;
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 95%;
    margin: auto;
    margin-left: 2em;
    margin-top: 2em;
}
.agreement {
    color: red;
    font-size: 18px;
    margin-top: 8.5em;
    margin-left: 1em;
}
.email {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}
.github {
    text-align: end;
    font-size: 36px;
    font-weight: bold;
}
@media (max-width: 1400px) {
    .content {
        display: block;
    }
    .shortener-about {
        margin-right: 0.3em;
        position: relative;
        width: unset;
    }
    .shortener-info {
        position: relative;
        width: unset;
    }
    #link {
        width: 50vw;
    }
    .footer {
        height: 10dvh;
    }
    
}
@media only screen and (max-width: 768px) {
    .header {
        height: auto;
    }

    .header-content {
        margin-top: 2em;
        font-size: 24px;
    }

    #link {
        width: 90vw;
    }

    .shortener-about,
    .shortener-info {
        width: 100%;
        max-width: 100%;
        margin: 0.3em;
    }

    .email,
    .github {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .header-content {
        margin-top: 1em;
        font-size: 24px;
    }

    #link {
        width: 90vw;
        height: 2.5em;
    }

    .shortener-about,
    .shortener-info {
        font-size: 18px;
    }
    .info {
        margin-left: 0;
    }
    .email,
    .github {
        font-size: 12px;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    #submit {
        margin-top: 10px;
        height: 3em;
    }
}

@media only screen and (max-width: 360px) {
    .header-content {
        margin-top: 1em;
        font-size: 18px;
    }

    #link {
        width: 90vw;
    }

    .shortener-about,
    .shortener-info {
        font-size: 10px;
        width: 87vw;
    }

    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 12px;
    }
    #submit {
        height: 2.5em;
    }
}