<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Пользовательское соглашение</title>
</head>
<body>
    <div id="agreement">
        <h1>Пользовательское соглашение</h1>
        <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем domen (далее Shortener или Администрация) с одной стороны и пользователем сайта с другой.</p>
        <p>Сайт Shortener не является средством массовой информации.</p>

        <p>Используя сайт, Вы соглашаетесь с условиями данного соглашения.</p>
        <p>Если Вы не согласны с условиями данного соглашения, не используйте сайт Shortener!</p>

        <h2>Предмет соглашения</h2>
        <p>Администрация предоставляет пользователю право на размещение на сайте следующей информации:</p>
        <p>- Пользователю не предоставляется право размещать информацию на сайте</p>

        <h2>Права и обязанности сторон</h2>
        <h3>Пользователь имеет право:</h3>
        <p>- Администрация не предоставляет пользователю никаких прав</p>

        <h3>Администрация имеет право:</h3>
        <p>- по своему усмотрению и необходимости создавать, изменять, отменять правила</p>
        <p>- ограничивать доступ к любой информации на сайте</p>
        <p>- создавать, изменять, удалять информацию</p>
        <p>- удалять учетные записи</p>
        <p>- отказывать в регистрации без объяснения причин</p>

        <h3>Пользователь обязуется:</h3>
        <p>- обеспечить достоверность предоставляемой информации</p>
        <p>- обеспечивать сохранность личных данных от доступа третьих лиц</p>
        <p>- не копировать информацию с других источников</p>
        <p>- при копировании информации с других источников, включать в её состав информацию об авторе</p>
        <p>- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность</p>
        <p>- не нарушать работоспособность сайта</p>
        <p>- не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому же лицу</p>
        <p>- не совершать действия, направленные на введение других Пользователей в заблуждение</p>
        <p>- не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам</p>
        <p>- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ</p>
        <p>- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами</p>

        <h3>Администрация обязуется:</h3>
        <p>- Администрация ни на что не обязуется</p>

        <h2>Ответственность сторон</h2>
        <p>- пользователь лично несет полную ответственность за распространяемую им информацию</p>
        <p>- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников</p>
        <p>- администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг</p>
        <p>- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами</p>
        <p>- в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную работу информационного ресурса</p>

        <h3>Условия действия Соглашения</h3>
        <p>Данное Соглашение вступает в силу при любом использовании данного сайта.</p>
        <p>Соглашение перестает действовать при появлении его новой версии.</p>
        <p>Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.</p>
        <p>Администрация не оповещает пользователей об изменении в Соглашении.</p>
    </div>
</body>
</html>