<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"">
    <title>Shortener</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="center">
                <div class="header-content">
                    <a href="/" class="logo">
                        <h1>Shortener by GADJIIAVOV</h1>
                    </a>
                    <form action="/form" method="post">
                        <input type="text" name="link" id="link" placeholder="Enter the link here"/>
                        <button type="submit" id="submit">SHORT</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="shortener-about center">
                <h2>About the project</h2>
                <p>Shortener is a web application written in the Go programming language that allows users to shorten long links into shorter and more convenient ones.</p>
                <p>The main functionality of the application includes the ability to create short links, save them in a database, and redirect users to them. The application uses Redis as its database for storing information about links.</p>
                <p>Shortener has a simple and intuitive user interface that allows users to quickly and easily create short links.</p>
                <p>This project was created as a pet project for learning the Go programming language and its capabilities in web development.</p>
                <p>It can be used as a basis for creating other projects related to link shortening.</p>
            </div>

            <div class="shortener-info center">
                <h2>About the project</h2>
                <p>Shortener is a web application written in the Go programming language that allows users to shorten long links into shorter and more convenient ones.</p>
                <p>The main functionality of the application includes the ability to create short links, save them in a database, and redirect users to them. The application uses Redis as its database for storing information about links.</p>
                <p>Shortener has a simple and intuitive user interface that allows users to quickly and easily create short links.</p>
                <p>This project was created as a pet project for learning the Go programming language and its capabilities in web development.</p>
                <p>It can be used as a basis for creating other projects related to link shortening.</p>
            </div>
        </div>
        <div class="footer">
            <div class="info">  
                <p class="github"><a href="https://github.com/Djama1GIT/shortener">GitHub of the project</a></p>
                <p class="email">Email: <a href="mailto:shortener@dj.ama1.ru">shortener@dj.ama1.ru</a></p>
            </div>
            <p class="agreement"><a href="/agreement">Пользовательское соглашение</a></p>
        </div>
    </div>
</body>
</html>
